# Desafio Python e SQL

### Read com pd.read_sql

In [ ]:
import pandas as pd
import pyodbc

try:
  conexao = pyodbc.connect("Driver={PostgreSQL Unicode};"
                         "Server=localhost;"
                         "Database=teste;"
                         "UID=postgres;"
                         "PWD=")
  
  df = pd.read_sql('SELECT * FROM tabela_usuario;', conexao)
  conexao.close()
  display(df)
except Exception as e:
  print(f'Erro ao conectar: {e}')

/tmp/ipykernel_21769/3283041257.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('SELECT * FROM tabela_usuario;', conexao)

   id        nome  idade               data_criacao
0   1        João     25 2025-04-23 23:01:35.521931
1   2       Maria     30 2025-04-23 23:01:35.521931
2   3      Carlos     35 2025-04-23 23:01:35.521931
3   4  Lucas Lira     32 2025-04-29 17:31:32.644641
4   5  Lucas Lira     32 2025-04-29 17:31:36.894797
5   6  Lucas Lira     32 2025-04-29 17:32:02.437195
6   7  Lucas Lira     32 2025-04-29 17:32:33.852715
7   8  Lucas Lira     32 2025-04-29 17:34:15.065891